<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can update now !</h1>

		<form (ngSubmit)="saveCaissier()" #form="ngForm" >

			<input
					name="Name"
					type="text"
					required
					[(ngModel)]="caissier.name">

					<input
					type="number" id="code" name="code" class="form-control"
    
       #tel="ngModel" [(ngModel)]="caissier.code">
	  
	    <button class ="formbold-btn"type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button class="formbold-btn" type="reset">Vider</button>
		<button class ="formbold-btn" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
  