<div class="container">
<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can update now !</h1>

		<form (ngSubmit)="saveCaissier()" #form="ngForm" >
			<mat-form-field>
				<mat-label>Description</mat-label>
			<input
			matInput
					name="description"
					type="text"
					required
					[(ngModel)]="caissier.description">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Montant</mat-label>
					<input
					matInput
					type="number" id="montant" name="montant" class="form-control"
    
       [(ngModel)]="caissier.montant">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Choose a date</mat-label>
				  <input matInput name="date" type="date"  required [(ngModel)]="caissier.date">
			</mat-form-field>
	  
	    <button mat-raised-button color="primary" class="btn btn-primary btn-block w-100"type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button mat-raised-button color="primary" class="btn btn-primary btn-block w-100" type="reset">Vider</button>
		<button mat-raised-button color="primary" class="btn btn-primary btn-block w-100" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
</div>
  