<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can add now !</h1>

		<form (ngSubmit)="saveCaisse()" #form="ngForm" >
            
			<label for="name">Name: </label>
			<input
					name="Name"
					type="text"
					required
					[(ngModel)]="caisse.name">
					
					<label for="name">Sold: </label>
					<input
					type="number" id="sold" name="sold" class="form-control"
     
       #sold="ngModel" [(ngModel)]="caisse.sold">
	 
	    <button class="formbold-btn" type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button class="formbold-btn" type="reset">Cancel</button>
		<button class ="formbold-btn" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
  