<div class="container">
<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can add now !</h1>

		<form (ngSubmit)="saveCaisse()" #form="ngForm" >
            
			<mat-form-field>
				<mat-label>Name</mat-label>
			<input
			matInput
					name="Name"
					type="text"
					required
					[(ngModel)]="caisse.name">
			</mat-form-field>
					<mat-form-field>
				<mat-label>Sold</mat-label>
					<input
					matInput
					type="number" id="sold" name="sold" class="form-control"
     
       #sold="ngModel" [(ngModel)]="caisse.sold">
			</mat-form-field>
	 
	    <button mat-raised-button color="primary" class="btn btn-primary btn-block w-100" type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button mat-raised-button color="primary" class="btn btn-primary btn-block w-100" type="reset">Cancel</button>
		<button mat-raised-button color="primary" class="btn btn-primary btn-block w-100" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
</div>