.centerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: white;
    border-radius: 1rem;
    width: 20rem;
    padding: 2rem;

}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

