<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can update now !</h1>

		<form (ngSubmit)="saveGare()" #form="ngForm" >

			<input
					name="Name"
					type="text"
					required
					[(ngModel)]="gare.name">

					<input
					type="number" id="tel" name="tel" class="form-control"
      required minlength="8"  maxlength="8"
       #tel="ngModel" [(ngModel)]="gare.tel">
	   <div *ngIf="tel.invalid && (tel.dirty || tel.touched)"
    class="alert">

  <div *ngIf="tel.errors?.['required']">
    Tel is required.
  </div>
  <div *ngIf="tel.errors?.['minlength']">
    Tel must be at least 8 characters long.
  </div>
  <div *ngIf="tel.errors?.['maxlength']">
    Tel must be at least 8 characters long.
  </div>


</div>
		<button class ="formbold-btn"type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button class="formbold-btn" type="reset">Vider</button>
		<button class ="formbold-btn" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
  