<div class="nav-items">
    

    <a routerLink="gare" routerLinkActive="active" *ngIf="isAdmin">
    <div class="nav-item">
      <fa-icon [icon]="faTrain"></fa-icon>
      <span>Gares</span>
    </div>
  </a>
    <a routerLink="utilisateurs" routerLinkActive="active" *ngIf="isAdmin">
    <div class="nav-item">
      <fa-icon [icon]="faUser"></fa-icon>
      <span>Utilisateurs  </span>
    </div>
  </a>
    <a routerLink="banque" routerLinkActive="active" *ngIf="isAdmin">
    <div class="nav-item">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      <span> Banques</span>
    </div>
  </a>
    <a routerLink="caisse" routerLinkActive="active" *ngIf="isAdmin">
    <div class="nav-item">
      <fa-icon [icon]="faCashRegister"></fa-icon>
      <span>Caisses</span>
    </div>
  </a>

    <a routerLink="caissier" routerLinkActive="active" >
    <div class="nav-item">
      <fa-icon [icon]="faGear"></fa-icon>
      <span>Operation</span>
    </div>
  </a>
  <a routerLink="transaction" routerLinkActive="active" *ngIf="isAdmin">
    <div class="nav-item">
      <fa-icon [icon]="faFolder"></fa-icon>
      <span>Transaction</span>
    </div>
  </a>
  <a routerLink="register" routerLinkActive="active" *ngIf="isAdmin" >
    <div class="nav-item">
      <fa-icon [icon]="faPlus"></fa-icon>
      <span>Ajout Cassier</span>
    </div>
  </a>
  </div>