<div class="formbold-main-wrapper">
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper">
		<h1>You can update now !</h1>

		<form (ngSubmit)="saveBanque()" #form="ngForm" >

			<input
					name="Name"
					type="text"
					required
					[(ngModel)]="banque.name">

					<input
					type="Name" id="compte" name="compte"
    #compte="ngModel" [(ngModel)]="banque.compte">
       
       <input
					type="Name" id="region" name="region" 
    
       #region="ngModel" [(ngModel)]="banque.region">
	   
	    <button class ="formbold-btn"type="submit" [disabled]="!form.valid" >SUBMIT</button>
		<button class="formbold-btn" type="reset">Vider</button>
		<button class ="formbold-btn" value="Go back!"mat-raised-button (click)="goToBack()">return</button>
		
	</form>
	</div>
  </div>
  